:root {
  --heading-line-height: {{dc:theme:heading_line_height}};
  --body-line-height: {{dc:theme:body_line_height}};
  
  --layout-site-width: {{dc:theme:x_layout_site_width}};
  --layout-site-max-width: {{dc:theme:x_layout_site_max_width}};
  --layout-calc-site-width: calc( min( var(--layout-site-width), var(--layout-site-max-width) ) );

  --layout-gutter: calc( ( 100% - var(--layout-calc-site-width) ) / 2 );

  --default-duration: .3s;
  --default-timing-function: cubic-bezier(.4,0,.2,1);
}

body {
  line-height: var(--body-line-height);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: var(--heading-line-height);
}

/* Scroll effects enable / disable feature for components */
:where(.scroll-effect-disabled) :is(.x-effect-exit, .x-effect-entering, .x-effect-exiting),
.scroll-effect-disabled:is(.x-effect-exit, .x-effect-entering, .x-effect-exiting) {
  opacity: 1 !important;
  transform: translate(0px, 0px) !important;
  pointer-events: auto !important;
}
